.little{
    width: 80px;
    margin-bottom: 10px;
    text-decoration: none;
}

.avatar_mask{
    width: 45px;
    height: 45px;
    border-radius:900px;
    overflow: hidden;
    
}

.avatar_mask img{
    width: 45px;
    
}